<!--Chekout html component code for view-->

<!--navbar-->
<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <!--      navbar anchor tag-->
      <a class="navbar-brand">Online Store</a>
    </div>
  </div>
</div>

<!--Message when an order is sent-->
<div *ngIf="orderSent" class="m-2 text-center">
  <h2>Thanks!</h2>
  <p> Thank you for placing your order</p>
  <p>We'll ship your goods as soon as possible</p>
  <button class="btn btn-primary" routerLink="/store">
    Return to Store
  </button>
</div>

<!--Registration form in ore to make a order-->
<!--This form is also validated-->
<form *ngIf="!orderSent" novalidate #form="ngForm" (ngSubmit)="submitOrder(form)" class="m-2">

  <!--  name label and input -->
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" #name="ngModel" name="name" [(ngModel)]="order.name" required>

    <span *ngIf="submitted && name.invalid" class="text-danger">
      Please Enter your Name
    </span>
  </div>

  <!--  Address label and input -->
  <div class="form-group">
    <label>Address</label>
    <input class="form-control" #address="ngModel" name="address" [(ngModel)]="order.address" required/>
    <span *ngIf="submitted && address.invalid" class="text-danger">
      Please Enter your Address
    </span>
  </div>

  <!--  City label and input -->
  <div class="form-group">
    <label>City</label>
    <input class="form-control" #city="ngModel" name="city" [(ngModel)]="order.city" required/>
    <span *ngIf="submitted && city.invalid" class="text-danger">
      Please Enter your City
    </span>
  </div>

  <!--  State label and input -->
  <div class="form-group">
    <label>State</label>
    <input class="form-control" #state="ngModel" name="state" [(ngModel)]="order.state" required/>
    <span *ngIf="submitted && state.valid" class="text-danger">
      Please enter your State
    </span>
  </div>

  <!--  Zip/Postal label and input -->
  <div class="form-group">
    <label>Zip/Postal Code</label>
    <input class="form-control" #zip="ngModel" name="zip" [(ngModel)]="order.zip" required/>
    <span *ngIf="submitted && zip.valid" class="text-danger">
      Please enter your Zip/Postal Code
    </span>
  </div>

  <!--  Country label and input -->
  <div class="form-group">
    <label>Country</label>
    <input class="form-control" #country="ngModel" name="country" [(ngModel)]="order.country" required/>
    <span *ngIf="submitted && country.valid" class="text-danger">
      Please enter your Country
    </span>
  </div>

  <div class="text-center">

    <button class="btn btn-primary m-1" routerLink="/cart">Back</button>
    <button class="btn btn-primary m-1" type="submit">Please complete order</button>
  </div>
</form>
