<!--The content below is only a placeholder and can be replaced.-->

<h3 class="bg-danger p-1 text-white">
  {{ getName() }} To Do List
</h3>

<div class="my-1">
  <input class="form-control" #todotext />
  <button class="btn btn-primary mt-1" (click)="addItem(todotext.value)"> Add Task</button>
</div>

<table>
  <thead>
  <tr><th>index</th><th>Tasks</th><th>Action</th><th>Status</th></tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of getToDoItems(); let i=index">
<!--   1st column-->
    <td>{{ i+ 1}}</td>

    <!--   2nd column-->
    <td>{{ item.action }}</td>

<!--    3rd column using two way binding-->
    <td>
      <input type="checkbox" [(ngModel)]="item.done"/>
    </td>

    <!--   4th column-->
    <td [ngSwitch]="item.done">
      <span *ngSwitchCase="true">Yes</span>
      <span *ngSwitchDefault>No</span>
    </td>
  </tr>
  </tbody>
</table>


<router-outlet></router-outlet>
